TELEGRAM_BOT_TOKEN=8866952002:AAEFF0ARonU3rwp5G1LTqYiTccMzcREJWDI
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini
BOT_ALLOWED_USER_IDS=@lkaster
BOT_MEMORY_LIMIT=18
